@define-color accent_color #3c72a8;

@define-color accent_bg_color #055CB3;
@define-color accent_fg_color white;


.Accept-Button {
  color: white;
  background-color: #055CB3;
}

.Accept-Button:hover {
  color: white;
  background-color: #0577B3;
}

.Accept-Button:hover:active {
  color: white;
  background-color: #0856a3;
  transition: background-color 0.1s;
}

.Cancel-Button {
  color: white;
  background-color: #C51A41;
}

.Cancel-Button:hover {
  color: white;
  background-color: #DC1A41;
}

.Cancel-Button:hover:active {
  color: white;
  background-color: #b3183c;
  transition: background-color 0.25s;
}

.Progress-Fail progress {
  background-image: none;
  background-color: #C51A41;
}

.Download-Button {
  color: white;
  background-color: #0C703D;
}

.Download-Button:hover {
  color: white;
  background-color: #0C8C3D;
}

.Download-Button:hover:active {
  color: white;
  background-color: #0b6134;
  transition: background-color 0.25s;
}

.Pause-Button {
  color: white;
  background-color: #eca306;
}

.Pause-Button:hover {
  color: white;
  background-color: #ffae00;
}

.Pause-Button:hover:active {
  color: white;
  background-color: #cf910a;
  transition: background-color 0.25s;
}

.Other {
  color: white;
  background-color: #7C2865;
}

.DownloadPrefBar {
  padding-right : 15px;
  padding-left : 15px;
  padding-top : 5px;
  padding-bottom : 5px;
}